<!DOCTYPE html>
<html>
{% extends 'base-test.html' %}
{% load static %}
{% block content %}
<body>
    <div class="section-title">
        <h2>Income and Expenses</h2>
    </div>

    <div class="add-transaction-and-link-bank-buttons">
        <button>Add transaction [To-do]</button>
        <button>Link to bank [To-do]</button>
    </div>

    <div class="income-and-expenses-block">
        <div class="expenses-block">
            <h2>Expenses</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                </tr>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.description }}</td>
                    <td>${{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No expenses found</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </table>

            <div class="add-expense-block">
                <h2>Add Expense</h2>
                <form method="post" action="{% url 'transactions.add_transaction' %}">
                    {% csrf_token %}
                    {{ expense_form.as_p }}
                    <button type="submit" name="add_expense">Add Expense</button>
                </form> 
            </div>
        </div>
        
        <div class="income-block">
            <h2>Incomes</h2>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
                {% for income in incomes %}
                <tr>
                    <td>{{ income.date }}</td>
                    <td>{{ income.description }}</td>
                    <td>${{ income.amount }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No incomes found</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </table>

            <div class="add-income-block">
                <h2>Add Income</h2>
                <form method="post" action="{% url 'transactions.add_transaction' %}">
                    {% csrf_token %}
                    {{ income_form.as_p }}
                    <button type="submit" name="add_income">Add Income</button>
                </form>
            </div>
        </div>

    </div>

    <!--
        <div>
            <h2>Add Expense</h2>
            <form method="post" action="{% url 'transactions.add_transaction' %}">
                {% csrf_token %}
                {{ expense_form.as_p }}
                <button type="submit" name="add_expense">Add Expense</button>
            </form>
    
        <div>
            <h2>Add Income</h2>
            <form method="post" action="{% url 'transactions.add_transaction' %}">
                {% csrf_token %}
                {{ income_form.as_p }}
                <button type="submit" name="add_income">Add Income</button>
            </form>
        </div>
    -->
</body>
{% endblock content %}
</html>