{% extends 'base.html' %}
{% block content %}
    <header class="masthead bg-index text-white text-center py-4">
        <div class="container d-flex align-items-center flex-column pt-2">
            <h1 class="section-title">Income and Expenses</h1>
        </div>
    </header>
    <main>
        <h2>Expenses</h2>
        <ul>
            {% for expense in expenses %}
                <li style="display: flex; align-items: center; gap: 4px">
                    <p style="margin: 0">{{ expense.date }} - {{ expense.description }}: ${{ expense.amount }} ({{ expense.category }})</p>
                     <form method="post" action="{% url 'transactions.remove_transaction' 'expense' expense.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
            {% empty %}
                <li>No expenses found.</li>
            {% endfor %}
        </ul>

        <h2>Incomes</h2>
        <ul>
            {% for income in incomes %}
                <li style="display: flex; align-items: center; gap: 4px">
                    <p style="margin: 0">{{ income.date }} - {{ income.description }}: ${{ income.amount }}</p>
                    <form method="post" action="{% url 'transactions.remove_transaction' 'income' income.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
            {% empty %}
                <li>No incomes found.</li>
            {% endfor %}
        </ul>

        <div>
            <h1>Add Transaction</h1>
            <h2>Add Expense</h2>
            <form method="post" action="{% url 'transactions.add_transaction' %}">
                {% csrf_token %}
                {{ expense_form.as_p }}
                <button type="submit" name="add_expense">Add Expense</button>
            </form>

            <h2>Add Income</h2>
            <form method="post" action="{% url 'transactions.add_transaction' %}">
                {% csrf_token %}
                {{ income_form.as_p }}
                <button type="submit" name="add_income">Add Income</button>
            </form>
        </div>

        <h2>Link Your Bank Account</h2>
        {% if bank_linked %}
            <button id="sync-button" class="btn btn-primary">Sync Transactions</button>
        {% else %}
            <button id="link-button" class="btn btn-primary">Link Your Bank</button>
        {% endif %}

    </main>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
        const isBankLinked = {{ bank_linked|yesno:"true,false" }};

        // TODO: if linked:

        // add handler to sync transactions (if server determines its needed, maybe add a toast)
        // maybe even gray out the button if not needed

        if (isBankLinked) {
            document.getElementById('sync-button').addEventListener('click', async function () {
                const response = await fetch("{% url 'transactions.sync_transactions' %}", {
                    redirect: 'follow',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    {#body: JSON.stringify({ date: "2025-04-30" })#}

                });

                if (response.redirected) {
                    window.location.href = response.url;
                } else if (response.ok) {
                    alert("No new transactions to sync");
                } else {
                    console.error('Failed to sync transactions');
                }
            });
        }
        else {
            document.getElementById('link-button').addEventListener('click', async function () {

                const linkToken = (await (await fetch("{% url 'transactions.create_link_token' %}")).json()).link_token;

                const handler = Plaid.create({
                    token: linkToken,
                    onSuccess: function (public_token, metadata) {
                        // Send the public_token to your server
                        fetch("{% url 'transactions.exchange_public_token' %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({ public_token: public_token })
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            else {
                                console.log('Public token exchanged successfully');
                                response.json().then(data => {
                                    console.log('Data:', data);
                                });
                            }

                        });
                    },
                    onExit: function (err, metadata) {
                        if (err != null) {
                            console.error('Error:', err);
                        }
                    },
                    onEvent: function (eventName, metadata) {
                        // console.log('Event:', eventName, metadata);
                    }
                });

                handler.open();
            });
        }


    </script>
{% endblock content %}



