{% extends "base.html" %}

{% block content %}
  <h1>My Budgets</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Limit</th>
        <th>Spent</th>
        <th>% Used</th>
      </tr>
    </thead>
    <tbody>
      {% for budget in budgets %}
        <tr>
          <td>{{ budget.category }}</td>
          <td>${{ budget.limit }}</td>
          <td>${{ budget.amount_spent|floatformat:2 }}</td>
          <td>{{ budget.percent_used }}%</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Add New Budget</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label>Limit:</label>
      <input type="number" step="0.01" name="limit" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Category:</label>
      <select name="category" class="form-select" required>
        <option value="" disabled selected>Select a Category</option>
        <option value="FOOD">Food</option>
        <option value="TRANSPORT">Transport</option>
        <option value="ENTERTAINMENT">Entertainment</option>
        <option value="UTILITIES">Utilities</option>
        <option value="HEALTH">Health</option>
        <option value="OTHER">Other</option>
        <option value="ALL">All</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Budget</button>
  </form>
{% endblock %}
